label{
	margin-top: 5px;
	margin-right: 10px;
}

.gap{
	margin-top: 30px;
}

.gap2{
	margin-top: 5px;
}

.gap3{
	padding-top: 10px;
}

.bord{
	border: solid 1px lightgrey;
}

.group1{
	border: solid 1px lightgrey;
}

.head{

	text-align: center;
	border: solid 1px maroon;
	color: white;
	background-color: maroon;
}

.foot{
	padding-bottom: 20px;
	padding-top: 20px;
}

.bord-height{
	height: 300px;
}

.button1{
	width: 200px;
}