<% if flash.any? %>
    <% flash.each do |key, msg| %>
        <div class="flash alert alert-<%= key %>">
            <%= msg %>
            <a class="close" data-dismiss="alert">&#215;</a>
        </div>
    <% end %>
<% end %>